div#overlay-menu {
    display: none;
    position: fixed;
    background: #F3F3F3;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    border: solid thin #A9A9A9;
}

div#overlay-menu-icon {
    position: fixed;
    cursor: pointer;
    margin-top: 15px;
    right: 20px;
}

#overlay-menu-x {
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
}

div#overlay-menu-region-top {
    background: #29487d;
    height: 65px;
}

div#overlay-menu-region-content {
    background: #ccc;
    overflow: auto;
    position: absolute;
    top: 65px;
    bottom: 0;
    right: 0;
    left: 0;
}

#overlay-menu ul.links {
    position: absolute;
    top: 40px;
    left: 40px;
}

div#overlay-menu-panel {
    padding: 50px;
}